@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(19, 19, 19);;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 1.7em;
}

#port {
    margin-top: 3em;
    margin-left: 3em;
    font-size: 1.4em;
}

.proj1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projs {
    text-align: center;
}

.SaleSync {
    align-items: center;
    justify-content: center;
    margin-right: 10em;
}

.projeto_image {
    border-radius: 10px;
}

.badges {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
}

.badge {
    border-radius: 5px;
    margin-left: 0.5em;
}

.projetos {
    margin-top: 10em;
}

.link_proj {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}